.patient-manage-container {
  .patient-manage-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    color: #d20003;
  }

  .patient-manage-body {
    padding: 0 20px;
  }
}
