.doctor-manage-container {
  padding: 10px;
  .doctor-manage-title {
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #d20003;
  }

  .save-doctor-content {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 5px;
    background: red;
    color: white;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .more-info {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;

    .content-left {
      width: 40%;
    }

    .content-right {
      width: 60%;
    }
  }

  .doctor-price {
    display: flex;
  }

  .doctor-clinic {
    display: flex;
  }
}
