.doctor-details-container {
  .doctor-intro {
    display: flex;
    height: 150px;
    margin: 0 100px;

    .left-content {
      width: 20%;
      background: center center no-repeat;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      margin: 10px 20px;
    }

    .right-content {
      width: 80%;
      display: flex;
      flex-direction: column;
      padding-left: 40px;

      .doctor-name {
        padding-top: 15px;
        font-size: 20px;
        font-weight: 600;
      }

      .doctor-summary {
        padding-top: 10px;
      }
    }
  }

  .doctor-schedule {
    margin: 0 100px;
    display: flex;
    padding: 10px 0;

    .left-content {
      width: 50%;
    }

    .tight-content {
      width: 50%;
    }
  }

  .doctor-info {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 10px 100px;

    h3 {
      font-size: 17px;
    }

    img {
      width: 100%;
    }
  }

  .comment {
    height: 50%;
  }
}
