.section-specialty {
  padding: 20px;
  height: 350px;
  // width: 100%;
  // background: #f5f5f5;
  border-bottom: 3px solid #efeef5;
  .specialty-container {
    margin: 0 150px;
    .specialty-header {
      margin-bottom: 25px;
      height: 56px;
      span {
        display: flex;
        padding: 15px 0 0px 10px;
        font-size: 24px;
        font-weight: bold;
      }
      button {
        color: #282e41;
        float: right;
        font-size: 11px;
        background-color: #ebebeb;
        border: none;
        outline: none;
        padding: 10px 15px;
        margin-right: 10px;

        &:hover {
          background-color: #f7d800;
          color: #fff;
        }
      }
    }
    .slide {
      position: relative;
      display: flex;
      padding: 5px;
      .img-specialty {
        background: url(../../../assets/specialty/co-xuong-khop.jpg);
        background-color: #959595;
        height: 150px;
        width: 278px;
      }
    }
  }
}
button.slick-arrow {
  z-index: 999 !important;
  transform: translate(0, -50%);
  margin-top: -20px !important;
  &::before {
    background: #fff;
    border: 2px solid #d7d7d7;
    padding: 0 5px 10px 5px;
    color: #959595 !important;
    font-family: FontAwesome !important;
    font-size: 30px !important;
  }
}
.slick-prev {
  left: -15px !important;
}
.slick-next {
  right: 8px !important;
}
